/// <reference path="references.scss" />

//
// Cspi Header layout
// --------------------------------------------------

$logo-color: #2D374D;

.cspi-header-border {
    border-top: 4px solid $logo-color;
}

.cspi-header-section {
    display: flex;
    width: 100%;
    max-width: 92rem;
    padding-top: 24px;
    padding-bottom: 1.5rem;
    padding-left: 40px;
    padding-right: 40px;
    align-items: center;
    font-family: Muli, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
    justify-content: space-between;
    margin: auto;
    align-items: flex-start;
}

@media only screen and (max-width: 991.98px) {
    .cspi-header-logo-title {
        flex-direction: column;
        row-gap: 18px;
    }
}

.cspi-header-title {
    text-transform: uppercase;
    font-size: 12px;
    color: $logo-color;
    line-height: 1.25;
    letter-spacing: 0.5px;
}

.cspi-header-menu {
    display: flex;
    cursor: pointer;
    text-transform: uppercase;
    color: #45526D;
    font-size: 16px;
    white-space: nowrap;
    padding-right: 40px;
}
@media only screen and (max-width: 991.98px) {
    .cspi-header-menu {
        flex-direction: column !important;
        padding-right: 88px;
        padding-top: 24px;
        padding-left: 20px;
    }
}
@media only screen and (min-width: 992px) {
    .cspi-header-menu {
        align-items: center;
        padding-right: 40px;
        column-gap: 46px;
        padding-left: 40px;
    }
}
@media only screen and (max-width: 1199.98px) {
    .cspi-header-menu {
        column-gap: 30px;
    }
}

.cspi-header-menu-item-active {
    color: white;
    background-color: $logo-color;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-radius: 0.2rem;
    height: 42.25px;
}

.cspi-header-menu-item {
    height: 42.25px;
    align-content: center;
}
@media only screen and (max-width: 991.98px) {
    .cspi-header-menu-item {
        padding-left: 12px;
        font-size: 16px;
    }
}

.cspi-header-menu-item:hover {
    color: #C63C3C;
    text-decoration: underline;
}

.cspi-header-store-active {
    background-color: #f1f5f8;
    font-size: 16px;
    font-weight: bold;
    color: #22292f;
    padding: .75rem;
    border-radius: .2rem;
    cursor: pointer;
    position: relative;
    white-space: nowrap;
}

.cspi-header-store-active:hover {
    background-color: #dae1e7;
}

.cspi-header-store-active:hover > .cspi-header-store-list {
    display: block
}

.cspi-header-store-list {
    position: absolute;
    display: none;
    right: 0;
    top: 47px;
    width: 320px;
    padding-bottom: .5rem;
    padding-top: .5rem;
    color: #22292f;
    background-color: white;
    z-index: 1;
    cursor: default;
    z-index: 3;
}

.cspi-header-store-menu-item {
    cursor: pointer;
    height: 40px;
    padding-left: 1rem;
    padding-right: 1rem;
    align-content: center;
    font-size: 16px;
}
@media only screen and (max-width:991.98px) {
    .cspi-header-store-menu-item {
        padding-left: 12px;
    }
}
@media only screen and (min-width:992px) {
    .cspi-header-store-menu-item:hover {
        color: white;
        background-color: #e76363;
    }
}


.cspi-header-menu-open {
    background-color: $logo-color;
    border-color: white;
}
