@* @model CspiFooterModel *@

<div class="cspi-footer">
    <div class="cspi-footer-inner">
        <div class="cspi-footer-left">
            <div class="footer-menu" onclick="window.location = 'https://www.cspii.org/about-us/'">Contact</div>
            <div class="footer-menu" onclick="window.location = 'https://www.cspii.org/gdpr/'">Privacy Policy</div>
            <div class="footer-menu" onclick="window.location = 'https://www.cspii.org/terms-conditions/'">Terms and Conditions</div>
        </div>
        <div class="cspi-footer-right">
            <div style="color:white;" onclick="window.location = 'https://www.cspii.org'">© 2015-@DateTime.Now.Year.ToString()</div>
            <div class="footer-menu" style="width:auto;" onclick="window.location = 'https://www.cspii.org/about-us'">CSPI International, z.s.</div>
        </div>
    </div>
</div>